[submodule "neovim/.local/share/nvim/site/pack/builtin/start/nvim-lspconfig"]
	path = neovim/.config/nvim/pack/builtin/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
[submodule "neovim/.local/share/nvim/site/pack/builtin/start/nvim-cmp"]
	path = neovim/.config/nvim/pack/builtin/start/nvim-cmp
	url = https://github.com/hrsh7th/nvim-cmp.git
[submodule "neovim/.local/share/nvim/site/pack/builtin/start/mason.nvim"]
	path = neovim/.config/nvim/pack/builtin/start/mason.nvim
	url = https://github.com/williamboman/mason.nvim.git
[submodule "neovim/.local/share/nvim/site/pack/builtin/start/cmp-nvim-lsp"]
	path = neovim/.config/nvim/pack/builtin/start/cmp-nvim-lsp
	url = https://github.com/hrsh7th/cmp-nvim-lsp.git
[submodule "neovim/.local/share/nvim/site/pack/builtin/start/mason-lspconfig.nvim"]
	path = neovim/.config/nvim/pack/builtin/start/mason-lspconfig.nvim
	url = https://github.com/williamboman/mason-lspconfig.nvim.git
[submodule "neovim/.local/share/nvim/site/pack/builtin/start/LuaSnip"]
	path = neovim/.config/nvim/pack/builtin/start/LuaSnip
	url = https://github.com/L3MON4D3/LuaSnip.git
[submodule "neovim/.local/share/nvim/site/pack/builtin/start/vim-gitgutter"]
	path = neovim/.config/nvim/pack/builtin/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "neovim/.local/share/nvim/site/pack/builtin/start/vim-fugitive"]
	path = neovim/.config/nvim/pack/builtin/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "neovim/.local/share/nvim/site/pack/builtin/start/lualine.nvim"]
	path = neovim/.config/nvim/pack/builtin/start/lualine.nvim
	url = https://github.com/nvim-lualine/lualine.nvim.git
[submodule "neovim/.local/share/nvim/site/pack/builtin/start/nvim-tree.lua"]
	path = neovim/.config/nvim/pack/builtin/start/nvim-tree.lua
	url = https://github.com/nvim-tree/nvim-tree.lua.git
[submodule "neovim/.local/share/nvim/site/pack/builtin/start/gruvbox.nvim"]
	path = neovim/.config/nvim/pack/builtin/start/gruvbox.nvim
	url = https://github.com/ellisonleao/gruvbox.nvim.git
